<h1>Product List</h1>

<div class="titleContainer">
  <div class="idTitle">ID</div>
  <div class="nameTitle">Name</div>
  <div class="descriptionTitle">Description</div>
  <div class="priceTitle">Price</div>
  <div class="buttonTitle"></div>
</div>


<div class="infoContainer" *ngFor="let product of products">
  <div class="id">{{product.id}}</div>
  <div class="name">{{product.name}}</div>
  <div class="description">{{product.description}}</div>
  <div class="price">{{product.price | currency: 'USD': true: '1.0-2' }}</div>
  <div class="button">
      <button class="editBtn" (click)="showEditProductForm(product)">Edit</button>
      <button class="deleteBtn" (click)="removeProduct(product)">Delete</button>
  </div>
</div>

<button class="addBtn" (click)="showAddProductForm()">Add Product</button>



<form *ngIf="productForm">
  <h2>Add New Product</h2>
  <div>
    <input type="text"
           placeholder="Id"
           name="id"
           [(ngModel)]="newProduct.id">
  </div>

  <div>
    <input type="text"
           placeholder="Name"
           name="name"
           [(ngModel)]="newProduct.name">
  </div>

  <div>
    <input type="text"
           placeholder="description"
           name="descrption"
           [(ngModel)]="newProduct.description">
  </div>

   <div>
    <input type="text"
           placeholder="price"
           name="price"
           [(ngModel)]="newProduct.price">
  </div>

  <button (click)="saveProduct(newProduct)">Submit</button>
  <button (click)="cancelNewProduct()">Cancel</button>

</form>







<form *ngIf="editProductForm">
  <h2>Edit Details</h2>
  <div>
    <input type="text"
           name="id"
           [(ngModel)]="editedProduct.id">
  </div>

  <div>
    <input type="text"
           name="name"
           [(ngModel)]="editedProduct.name">
  </div>

  <div>
    <input type="text"
           name="descrption"
           [(ngModel)]="editedProduct.description">
  </div>

   <div>
    <input type="text"
           name="price"
           [(ngModel)]="editedProduct.price">
  </div>

  <button (click)="updateProduct(editedProduct)">Submit</button>
  <button (click)="cancelEdits()">Cancel</button>

</form>